/* reset file  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: #ebebeb;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

header {
  height: 10vh;
  width: 85vw;
  margin: auto;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 5rem;
  font-weight: bolder;
  color: #2d72f1;
  padding: 50px;
  display: flex;
  align-items: center;
}

section {
  display: flex;
  height: 90vh;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  gap: 15px;
}

.left-container,
.right-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myform {
  /* width: 850px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 12px;
}

.sub_title {
  font-size: 19px;
  font-weight: 600;
  margin: 5px 0;
  color: #5a62ad;
}

.text_area {
  font-weight: 800;
  font-size: 20px;
  padding: 12px;
  border: 2px solid rgba(172, 144, 203, 0.4);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  margin-top: 12px;
  width: 100%;
  font-size: 20px;
  background: #2d72f1;
  color: #fff;
  padding: 14px;
  border-radius: 5px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  width: 80%;
  min-width: 700px;
  height: 250px;
  border-radius: 12px;
  background: #fff;
}

.logo {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card_content {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

.logo img {
  height: 35px;
}
.logo_card {
  height: 100%;
  width: 75px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.content {
  width: calc(100% - 75px);
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #5a62ad;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_header span {
  display: flex;
  align-items: center;
  background: #f15f91;
  padding: 5px;
  color: white;
  border-radius: 3px;
}

.card_footer {
  display: flex;
  justify-content: space-between;
}

.comment_svg,
.person_svg {
  height: 25px;
}

.tags p {
  background: #ebebeb;
  display: inline;
  padding: 5px;
  border-radius: 5px;
}
